
/* Master styles */
body{
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  padding:40px;
}

.left-side {
  display: flex ;

}

.nav > .left-side > div {
  margin-right: 20px;
  font-size: 1.1em;
  text-transform: uppercase;

}

.nav-link {
  height: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;

}

.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover{
  border-bottom: 1px solid black;
}

.nav-link a:hover {
  color: black;
}

/* portfolio styles */

.portfolio-items{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr ;
}

.portfolio-item{
   position: relative;
}

.img-background{
   height: 300px;
   width: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.img-text {
   position: absolute;
   top:0;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height:100%;
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   font-size: 30px;
}

.logo img{
   width: 20%;
   margin-bottom:20px;
}

.img-text .subtitle{
   transition: 1s;
   color: transparent ;
   font-weight:600;
}
.img-text:hover .subtitle{
   font-weight:600;
   color : rgb(25,70,160);

}

.img-darken{
   transition: 1s;
   filter: brightness(10%);
}

/* About */

.two-column {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.profile-pic img {
    width:97%;
}

.content {
    padding: 30px;

}
.content h1 {
    color: rgb(25,70,160);
}